@charset "UTF-8";
body {
  font-family: 'Hyundai Sans Head Office',sans-serif; }

button {
  outline: none !important; }

.btn-blue {
  background-color: #1d88cc;
  font-size: 13px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.692;
  cursor: pointer;
  height: 50px;
  display: block;
  transition: all .2s;
  border: 0; }
  .btn-blue:hover {
    background-color: #1575c0; }
  .btn-blue:active {
    background-color: #f1efee; }

.Прямоугольник_2_копия_9 {
  background-color: #1d88cc;
  position: absolute;
  left: 5153px;
  top: 799px;
  width: 174px;
  height: 50px;
  z-index: 924; }

.Прямоугольник_2_копия_11 {
  border-width: 2px;
  border-color: #1d88cc;
  border-style: solid;
  background-color: white;
  position: absolute;
  left: 5357px;
  top: 799px;
  width: 170px;
  height: 46px;
  z-index: 914; }

.btn-blue-outline {
  border: 2px solid #1d88cc;
  font-size: 13px;
  background: transparent;
  color: #1d88cc;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.692;
  cursor: pointer;
  height: 50px;
  display: block;
  transition: all .2s; }
  .btn-blue-outline:hover {
    background-color: #1d88cc;
    color: white; }
  .btn-blue-outline:active {
    background-color: #f1efee;
    border-color: #f1efee; }

.form-input input {
  border: 1px solid #ebebeb;
  height: 48px;
  background-color: white;
  padding-left: 21px;
  line-height: 1;
  outline: none;
  width: 100%;
  color: #494949;
  font-size: 15px; }
  .form-input input:focus {
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
  .form-input input::placeholder {
    font-size: 15px;
    color: #9da7ad;
    line-height: 1; }

.item-row {
  margin-bottom: 30px; }

.item .price {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 26px;
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 1199px) {
    .item .price {
      padding-left: 20px; } }
  @media (max-width: 767px) {
    .item .price {
      padding-top: 34px;
      padding-left: 0; } }
  .item .price div:nth-of-type(1) {
    font-size: 22px;
    color: #2f2f2f;
    line-height: 1.455;
    font-weight: 100; }
    .item .price div:nth-of-type(1) span {
      font-weight: 500;
      font-size: 26px; }
  .item .price div:nth-of-type(2) {
    font-size: 16px;
    color: #6f828e;
    line-height: 1.375;
    font-weight: 100; }
.item__char {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 65px; }
  @media (max-width: 1199px) {
    .item__char {
      padding-left: 20px;
      padding-right: 48px; } }
  @media (max-width: 767px) {
    .item__char {
      padding-left: 0;
      padding-right: 43px; } }
  .item__char--row {
    margin-bottom: 16px;
    display: flex; }
    .item__char--row .img {
      width: 21px;
      height: 21px;
      margin-right: 10px; }
      .item__char--row .img img {
        margin-top: -5px; }
    .item__char--row .split {
      flex: 1;
      border-bottom: 1px dotted #cbcbd2;
      max-height: 15px;
      margin-left: 3px;
      margin-right: 2px; }
    .item__char--row div:nth-of-type(2) {
      font-size: 14px;
      color: #9da7ad;
      line-height: 1.429;
      font-weight: 100; }
    .item__char--row div:nth-of-type(4) {
      font-size: 14px;
      color: #283035;
      line-height: 1.429;
      min-width: 158px;
      font-weight: 100; }
      @media (max-width: 1199px) {
        .item__char--row div:nth-of-type(4) {
          width: 108px;
          min-width: 108px; } }

.app {
  display: flex;
  border: 2px solid #99dfee;
  background-color: white;
  padding: 26px 40px;
  justify-content: space-between;
  margin-bottom: 40px; }
  .app > * {
    width: 23%; }
  @media (max-width: 767px) {
    .app {
      padding: 30px;
      flex-wrap: wrap; }
      .app .form-input, .app .form-btn {
        width: 100% !important;
        margin-bottom: 15px; } }
  @media (max-width: 1199px) {
    .app {
      flex-wrap: wrap;
      justify-content: space-between; }
      .app .label {
        width: 100%;
        margin-bottom: 15px; }
      .app .form-input {
        width: 30%; }
      .app .form-btn {
        width: 30%; } }
  .app .label {
    font-size: 22px;
    color: #2f2f2f;
    line-height: 1;
    font-weight: 500; }
  .app .form-btn button {
    width: 100%;
    height: 48px; }

.description__nav {
  display: flex;
  margin-bottom: 47px; }
  .description__nav a {
    display: block;
    flex: 1;
    text-align: center;
    background-color: #f1efef;
    height: 50px;
    font-size: 13px;
    color: #949393;
    text-transform: uppercase;
    line-height: 1.692;
    transition: all .2s;
    padding-top: 15px;
    position: relative;
    z-index: 4; }
    .description__nav a:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 8px;
      left: 0;
      right: 0;
      bottom: -8px;
      background-color: transparent;
      transition: all .2s;
      margin: auto;
      z-index: 3;
      -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
      clip-path: polygon(50% 100%, 0 0, 100% 0); }
    .description__nav a[aria-expanded='true'] {
      color: white;
      background-color: #00aed5; }
      .description__nav a[aria-expanded='true']:before {
        background-color: #00aed5;
        bottom: -7px; }
      .description__nav a[aria-expanded='true']:hover:before {
        background-color: #00d4fd; }
    .description__nav a:hover {
      background-color: #00d4fd;
      text-decoration: none;
      color: white; }
.description__item .description--row {
  display: flex;
  margin-bottom: 16px; }
  .description__item .description--row div {
    font-size: 14px;
    line-height: 1.429;
    font-weight: 100; }
    .description__item .description--row div:nth-of-type(1) {
      color: #9da7ad; }
    .description__item .description--row div:nth-of-type(2) {
      flex: 1;
      border-bottom: 1px dotted #cbcbd2;
      max-height: 15px;
      margin-left: 3px;
      margin-right: 3px; }
    .description__item .description--row div:nth-of-type(3) {
      color: #283035;
      width: 256px; }
      @media (max-width: 1199px) {
        .description__item .description--row div:nth-of-type(3) {
          width: 157px; } }
      @media (max-width: 767px) {
        .description__item .description--row div:nth-of-type(3) {
          width: 104px; } }

.product-section {
  background: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 69px;
  padding-bottom: 101px; }
  .product-section.pt-30 {
    padding-top: 30px; }
    @media (max-width: 1199px) {
      .product-section.pt-30 {
        padding-top: 28px; } }
  @media (max-width: 1199px) {
    .product-section {
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    .product-section {
      padding-bottom: 40px;
      padding-top: 38px; } }

.title {
  font-size: 40px;
  color: #2f2f2f;
  line-height: 1.2;
  margin-bottom: 32px; }
  @media (max-width: 1199px) {
    .title {
      font-size: 30px;
      margin-bottom: 42px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 25px;
      margin-bottom: 28px; } }

.breadcrumbs {
  text-align: left;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .breadcrumbs {
      display: none; } }
  .breadcrumbs a {
    margin-right: 8px;
    font-size: 14px;
    line-height: 1;
    color: #a3aeb5;
    position: relative;
    padding-right: 14px; }
    .breadcrumbs a:after {
      position: absolute;
      content: '';
      background: url("/assets/link-arrow.png");
      width: 4px;
      height: 8px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }

.stock-item {
  background: rgba(238, 241, 243, 0.6);
  transition: all .2s;
  padding-top: 150px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  display: block;
  margin-bottom: 30px; }
  .stock-item:hover {
    background: #ae9c91;
    transform: scale(1.04);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none; }
    .stock-item:hover .flag {
      right: 0; }
  .stock-item .flag {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #03aad3;
    height: 35px;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    transition: all .2s; }
    .stock-item .flag img {
      margin-top: -1px;
      margin-left: 5px; }
  .stock-item .description {
    background: white;
    text-align: center;
    padding: 104px 40px 25px;
    position: relative; }
    @media (max-width: 1199px) {
      .stock-item .description {
        padding-top: 80px; } }
    .stock-item .description img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(-55%);
      margin: auto; }
      @media (max-width: 1199px) {
        .stock-item .description img {
          max-width: 90%; } }
    .stock-item .description__row {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 1199px) {
        .stock-item .description__row {
          flex-wrap: wrap; } }
    .stock-item .description__name {
      text-align: left;
      font-size: 32px;
      color: #03aad3;
      line-height: 1.094;
      max-width: 50%; }
      @media (max-width: 1199px) {
        .stock-item .description__name {
          width: 100%;
          max-width: 100%; } }
    .stock-item .description__price {
      text-align: right; }
      @media (max-width: 1199px) {
        .stock-item .description__price {
          text-align: left; } }
      .stock-item .description__price div:nth-of-type(1) {
        font-size: 24px;
        color: #2f2f2f;
        line-height: 1.458;
        font-weight: 500; }
      .stock-item .description__price div:nth-of-type(2) {
        font-size: 14px;
        color: #6f828e;
        line-height: 1.571; }

.product-item {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
  margin-bottom: 30px;
  display: block; }
  .product-item .promo {
    max-width: 100%;
    width: 100%; }
    .product-item .promo img {
      width: 100%; }
  .product-item:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    text-decoration: none; }
    .product-item:hover .actions {
      height: 62px; }
      @media (max-width: 767px) {
        .product-item:hover .actions {
          height: 122px; } }
    .product-item:hover .description__price {
      margin-bottom: 12px; }
  .product-item .description {
    padding: 28px 40px;
    background: white; }
    .product-item .description__name {
      width: 100%;
      font-size: 26px;
      color: #03aad3;
      line-height: 1;
      text-align: left;
      margin-bottom: 24px; }
    .product-item .description .characteristic {
      display: flex;
      flex-wrap: wrap; }
      .product-item .description .characteristic__item {
        margin-bottom: 14px;
        display: flex; }
        .product-item .description .characteristic__item:nth-of-type(2n + 1) {
          width: 60%; }
        @media (max-width: 1199px) {
          .product-item .description .characteristic__item:nth-of-type(2n + 1) {
            width: 50%; } }
        @media (max-width: 767px) {
          .product-item .description .characteristic__item {
            width: 100% !important; } }
        .product-item .description .characteristic__item .icon {
          width: 21px;
          margin-right: 8px; }
          .product-item .description .characteristic__item .icon.pet-st img {
            margin-top: -6px; }
          .product-item .description .characteristic__item .icon.mech img {
            margin-top: -6px; }
          .product-item .description .characteristic__item .icon img {
            max-width: 100%; }
        .product-item .description .characteristic__item .text div:first-of-type {
          font-size: 13px;
          color: #a9b2b8;
          line-height: 1.692; }
        .product-item .description .characteristic__item .text div:nth-of-type(2) {
          font-size: 14px;
          color: #283035;
          line-height: 1.286; }
    .product-item .description__price {
      border-top: 1px solid #e9eced;
      padding-top: 21px;
      text-align: left;
      margin-bottom: 0;
      transition: all .2s; }
      @media (min-width: 1200px) {
        .product-item .description__price {
          text-align: right; } }
      .product-item .description__price div:nth-of-type(1) {
        line-height: 1;
        margin-bottom: 6px;
        font-size: 20px;
        color: #2f2f2f; }
        .product-item .description__price div:nth-of-type(1) span {
          font-weight: bold; }
      .product-item .description__price div:nth-of-type(2) {
        font-size: 14px;
        color: #6f828e;
        line-height: 1.571; }
  .product-item .actions {
    height: 0;
    overflow: hidden;
    transition: all .2s;
    display: flex; }
    .product-item .actions .btn-blue {
      margin-right: 30px; }
      @media (max-width: 1199px) {
        .product-item .actions .btn-blue {
          margin-right: 20px; } }
      @media (max-width: 767px) {
        .product-item .actions .btn-blue {
          margin-right: 0;
          width: 100%;
          margin-bottom: 10px; } }
    @media (max-width: 767px) {
      .product-item .actions {
        flex-wrap: wrap; }
        .product-item .actions button {
          width: 100%;
          flex: auto; } }
    @media (min-width: 768px) {
      .product-item .actions button {
        flex: 1; } }

.lSSlideOuter .lSPager.lSGallery img {
  width: 100%; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 0;
  position: relative; }
  .lSSlideOuter .lSPager.lSGallery li.active:after, .lSSlideOuter .lSPager.lSGallery li:hover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 174, 213, 0);
    transition: all .2s; }

.lSSlideOuter .lSPager.lSGallery li:hover {
  cursor: pointer; }
  .lSSlideOuter .lSPager.lSGallery li:hover:after {
    background: rgba(0, 174, 213, 0.2); }

.lSSlideOuter .lSPager.lSGallery li.active:after {
  background: rgba(0, 174, 213, 0.5); }

.lightSlider img {
  width: 100%;
  max-width: 100%; }